@{

	var desc = ViewBag.desc ?? "Credit Card to Cash | Instant Cash on any Credit Card";
	var Title = ViewBag.Title ?? "Credit Card to Cash | Instant Cash on any Credit Card";

}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" content="index, follow" />
<meta name=generator content="card2cash.in" />
<meta http-equiv=Content-Type content="text/html; charset=UTF-8" />
<meta name="google-site-verification" content="emdcaoXjSHICydZ3sATd7rAV5eEs3XCZTUZW3jhyH1k" />

<title>@Title</title>
<meta name="description" content="@desc" />
<meta name="keywords" content="@Title" />
<meta name="author" content="credit card to cash" />
<meta name=title content="@Title">
<meta itemprop=name content="@Title">
<meta itemprop=Authors content="card to cash" />
<meta itemprop=description content="@desc" />
<meta itemprop="image" content="https://cdn.card2cash.in/uploads/Ads/23.png">
<meta property=article:section content="@Title" />
<meta property=article:published_time content="@DateTime.UtcNow.AddDays(-1).ToString("yyyy-MM-ddT00:00:00+00:00")" />
<meta property=article:modified_time content="@DateTime.UtcNow.AddDays(-1).ToString("yyyy-MM-ddT00:00:00+00:00")" />
<meta property=article:author content="Credit card to cash" />
<meta property=article:tag content="@desc" />

<!-- OG Tags -->
<meta property="og:url" content="https://www.card2cash.in/">
<meta property="og:type" content="website">
<meta property="og:title" content="@Title">
<meta property="og:description" content="@desc" />
<meta property="og:image" content="https://cdn.card2cash.in/uploads/Ads/23.png">
<meta property="og:image:secure_url" content="https://cdn.card2cash.in/uploads/Ads/23.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1191" />
<meta property="og:image:height" content="842" />
<meta property="og:image:alt" content="Credit Card to Cash | Instant Cash on any Credit Card" />
<meta property="og:site_name" content="@Title" />
<meta property=fb:admins content=129308161414100 />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="@Title">
<meta name="twitter:description" content="@desc" />
<meta name="twitter:image" content="file:///E:/git/cdn.card2cash.in/uploads/Ads/23.png">
<meta property="twitter:url" content="https://www.card2cash.in/@ViewBag.CanonicalUri">

<meta name="twitter:site" content="@Constants.TwitterSite">
<meta name="twitter:creator" content="@Constants.TwitterAuthor">

<link rel="canonical" href="https://www.card2cash.in/@ViewBag.CanonicalUri">


<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.card2cash.in/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.card2cash.in/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.card2cash.in/favicon-16x16.png">
@*<link rel="manifest" href="/site.webmanifest">*@

<link href="https://cdn.card2cash.in/android-chrome-512x512.png" rel="apple-touch-icon">
<link href="https://cdn.card2cash.in/android-chrome-512x512.png" rel="apple-touch-icon" sizes="72x72">
<link href="https://cdn.card2cash.in/android-chrome-512x512.png" rel="apple-touch-icon" sizes="114x114">
<link href="https://cdn.card2cash.in/android-chrome-512x512.png" rel="apple-touch-icon" sizes="144x144">

<script type="application/ld+json">
{
 "@Constants.Context" : "http://schema.org",
 "@Constants.type": "FinancialService",
  "name": "Credit Card to Cash",
  "alternateName": "Card to Cash",
  "url": "https://www.card2cash.in/@ViewBag.CanonicalUri",
 "sameAs" : [
  "https://twitter.com/CardToCash?ref=card2cash.in/@ViewBag.CanonicalUri",
  "https://www.facebook.com/card2cashinchennai?ref=card2cash.in/@ViewBag.CanonicalUri",
  "https://www.instagram.com/card2cash.in/?ref=card2cash.in/@ViewBag.CanonicalUri",
  "https://www.indiamart.com/credit-card-2-cash/?ref=card2cash.in/@ViewBag.CanonicalUri",
  "https://www.sulekha.com/credit-card-to-cash-guindy-chennai-contact-address?ref=card2cash.in/@ViewBag.CanonicalUri",
  "https://www.justdial.com/Chennai/Credit-Card-to-Cash-Near-Railway-Station-Guindy/044PXX44-XX44-200801110524-P3R2_BZDET?ref=card2cash.in/@ViewBag.CanonicalUri",
  "https://www.linkedin.com/company/credit-card-to-cash/?ref=card2cash.in/@ViewBag.CanonicalUri",
  "https://in.pinterest.com/creditcardtocash/?ref=card2cash.in/@ViewBag.CanonicalUri"
  ],
 "address": {
 "@Constants.type": "PostalAddress",
 "streetAddress": "@ViewBag.DisplayName",
 "addressLocality": "@ViewBag.DisplayName",
 "addressRegion": "@ViewBag.DisplayName",
 "addressCountry": "IN"
 },
 "aggregateRating": {
  "@Constants.type": "AggregateRating",
  "ratingValue": "10",
  "bestRating": "10",
  "worstRating": "0",
  "ratingCount": "6126"
 },
 "priceRange":"₹1 - ₹10,00,000",
 "telephone": "+91- 9498393812",
 "image": "https://cdn.card2cash.in/uploads/Logo/Logo.png",
 "openingHours": "Mo, Tu, We, Th, Fr, Sa, Su",
 "paymentAccepted":"Visa Credit Card, Master Credit Card, American Express Credit Card, Diner Club Credit Card",
 "knowsLanguage":"English, Tamil",
 "areaServed":"@ViewBag.DisplayName"
}
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-194337719-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-194337719-1');
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NJ42ERCZDS"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'G-NJ42ERCZDS');
</script>